body {
    font-family: Arial, sans-serif;
  }
  
section {
    margin: 20px;
    height: auto;
}

h1, h2, p {
    color: #333;
    text-align: center;
  }


h1 {
    font-size: 2.5em; 
    font-weight: bold; 
    color: #1a1a1a;
    margin-bottom: 20px; 
    text-align: center; 
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 1.7em; 
    line-height: 1.6; 
    color: #666;
    margin-bottom: 10px; 
    text-align: center; 
}


.chart {
    width: 100%;
    height: 550px;
    margin: 20px 0;
}

.line-chart-svg {
    width: 100%;
    height: 100%;
}

/* .pie-chart-svg {
    width: 100%;
    height: 100%;
} */

.bar-chart-svg {
    width: 100%;
    height: 100%;
}

.legend {
    font-size: 12px;
    margin-top: 10px;
}

.legend-item {
    display: inline-block;
    margin-right: 15px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateX(15px);;
    
}

/* -------------------------------- Drop-Down Menu -------------------------------- */

/* Basic styling for the drop-down container */
#year-filter-section {
    margin: 20px 0;
    text-align: center;
}

/* Drop-down menu styling */
.dropdown {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect */
.dropdown:hover {
    background-color: #e9e9e9;
    border-color: #888;
}

/* Focus state when clicked */
.dropdown:focus {
    outline: none;
    background-color: #d9d9d9;
    border-color: #555;
}

/* Centering the dropdown in the section */
#year-dropdown {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

/* -------------------------------- End of Drop-Down Menu -------------------------------- */

/* Slogan Section Styling */
.slogan {
    text-align: center;
    margin: 20px 0;
}

.slogan h2 {
    color: orange;          /* Set the text color to orange */
    font-size: 3rem;        /* Increase font size to 3rem */
    font-weight: bold;      /* Make the text bold */
}